{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <h2 class="mt-5">Shopping cart</h2>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container mb-10">
    <div class="row ms-5">
        <div class="col">
            <h5 class="mt-5 mb-5">Order overview</h5>
        </div>
    </div>

    <div class="row ms-5 mb-10">
      <div class="col">
        {% if bag_items %}
          <div class="table-responsive rounded"></div>
        {% else %}
          <p class="lead mb-5">Your bag is empty.</p>
          <a href="{% url 'products' %}" class="btn postfly-general-btn my-3 my-md-5 active" role="button" data-bs-toggle="button">Continue shopping</a>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}