{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">{% trans 'Deep black' %}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-5">
        <p class="px-4 px-md-0">
          {% trans 'In many programs, the default black consists of only 100% black.' %}
          {% trans 'This is black, but next to ‘deep black’ it seems much greyer.' %}<br>
          {% trans 'To get a deep black you have to add something of each color.' %}
          {% trans 'The following values give the best results: Cyan 40%, Magenta 40%,'%} 
          {% trans 'Yellow 20% and Black 100%.' %}
          {% trans 'This way you get an ink coverage of 200% instead of only 100%.' %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <img src="{% static 'img/home/deep_black/diep_zwart.png' %}" alt="Deep black" class="mx-auto d-block apples">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-5">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'How do you make the best deep black?' %}</h6>
        <p class="px-4 px-md-0">
          {% trans 'In Indesign (2021) you create a new color as follows:' %}
          {% trans 'In the menu bar, click Window→ Colour→ Swatches.' %}
          {% trans 'Then you will see the window below.' %} 
          {% trans 'Press the plus sign at the bottom right and enter the values as below.' %}
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-4 mt-lg-5 ml mb-10">
      <img src="{% static 'img/home/deep_black/swatches.png' %}" alt="Swatches" class="w-200 ms-1 ms-md-3 mb-10">
      <img src="{% static 'img/home/deep_black/swatch_options.png' %}" alt="Swatch options"
        class="w-450 w-special-img ml-mr mb-10">
    </div>
  </div>
{% endblock %}