{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
  <div>
    <h2 class="my-5 mx-5 text-center">{% trans 'Our concept' %}</h2>
  </div>
  <div class="p-5 mb-5 concept-cmyk-img"></div>
{% endblock %}

{% block content %}
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-3">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'From bits and bytes to ink and paper' %}</h6>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'We show a clear delivery time for our products,' %}
          {% trans 'prices are known in advance and delivery to 1 address in the Netherlands' %} 
          {% trans 'is free of charge, so you will not be faced with surprises.' %}
        </p>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'We like to think in terms of solutions and strive for quick responses,' %} 
          {% trans 'whether that is by email or telephone, that does not matter to us.' %}
          {% trans 'Because we are a small and close-knit team, we have short direct lines and' %} 
          {% trans 'a flat organizational structure.' %}
        </p>
      </div>
    </div>
  </div>
  <div class="p-5 mb-5 concept-nature-img"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-3">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'The environment' %}</h6>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'POSTFLY and Grafische Groep Matthys consider a healthy living environment' %} 
          {% trans 'important for the next generations,' %}
          {% trans 'which is why we do what we can to contribute to a healthy environment.' %}
        </p>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'From 2011, we calculate and produce your printed matter exclusively with electricity' %} 
          {% trans 'from our solar panels and green electricity from renewable energy sources.' %}
        </p>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'We have Eco-papers, so it’s no problem to have your' %} 
          {% trans 'printed matter well-priced and ecologically printed.' %}
          {% trans 'We combine our orders,' %} 
          {% trans 'which is not only nice for you from a price point of view,' %}
          {% trans 'but also ensures that the production is more environmentally friendly.' %} <br>
          {% trans 'Only 1 set of printing plates needs to be used per printing form.' %}
          {% trans 'That material is therefore divided by all orders' %} 
          {% trans 'that are collected on that printing sheet.' %}
          {% trans 'You therefore use less raw materials and reduce the waste mountain.' %}
        </p>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'We are also FSC certified. FSC (Forest Stewardship Council) is a label or' %} 
          {% trans 'quality mark on a paper product that indicates' %}
          {% trans 'it comes from a sustainably managed forest.' %}
          {% trans 'The FSC label guarantees sustainable origin because not only the forest of origin is checked,' %}
          {% trans 'but also the entire trade chain up to the end consumer.' %}
        </p>
        <p class="px-4 px-md-0 mt-3 mb-10">
          {% trans 'Finally, we ourselves had the recyclability of our printed matter and' %} 
          {% trans 'packaging added with cold foil technology tested.' %} <br>
          {% trans 'This showed that all variants we tested could be recycled well.' %}
          {% trans 'The applied adhesive ink, emulsion varnish and foil were perfectly' %} 
          {% trans 'discharged through the recycling process as is the case with traditional printing and' %} 
          {% trans 'they did not appear to be a disruptive' %}
          {% trans 'factor during the production of a new sheet of paper.' %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}