{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">{% trans 'Frequently asked questions' %}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 mt-5">
        <img src="{% static 'img/home/faq/faq_top.png' %}" alt="FAQ top image" class="mx-auto d-block w-450">
      </div>
    </div>
    <div class="row justify-content-end ms-5 ps-md-5">
      <div class="col-12 col-xl-10 mt-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h5>{% trans 'General' %}</h5>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>{% trans 'Where can I place my order?' %}</h6>
                <p>{% trans 'It goes like this:' %}</p>
                <ol>
                  <li>
                    {% trans 'Go to the products in the menu bar and add the products you want to order' %}
                  </li>
                  <li>
                    {% trans 'When you have all your desired products in the shopping cart,' %}
                    {% trans 'proceed to secure checkout' %}
                  </li>
                  <li>
                    {% trans 'Fill out the checkout form,' %}
                    {% trans 'upload your files and complete your order' %}
                  </li>
                </ol>
                <h6 class="mt-5">
                  {% trans 'Where can I find the delivery times for the products?' %}
                </h6>
                <p>
                  {% trans 'With the' %}
                  <a href="{% url 'products' %}" class="text-postfly text-decoration-none">{% trans 'products' %}</a>
                  {% trans 'you can choose a production time of 3 or 5 business days.' %}
                  {% trans 'If you have hand in your files before 11 a.m. you may count that day as a business day.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'I have placed an order, can I still change or cancel it?' %}
                </h6>
                <p>
                  {% trans 'No, as soon as you have ordered your order will go into production.' %}
                  {% trans 'But you can always' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us to find out what the possibilities are.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'I do not see the size I want or have wishes that are not on the website, are there options for that?' %}
                </h6>
                <p>
                  {% trans 'We have more options than you see on the website, request a' %}
                  <a href="{% url 'quotation' %}" class="text-postfly text-decoration-none">{% trans 'quotation' %}</a>
                  {% trans 'or' %} 
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">{% trans 'contact' %}</a>
                  {% trans 'us.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Do different prices apply when reprinting an order?' %}
                </h6>
                <p>
                  {% trans 'No, even if you order the exact same print job again at a later date,' %}
                  {% trans 'you simply pay the price as stated on the website.' %}
                  {% trans 'Production always starts from scratch,' %}
                  {% trans 'the printing plates cannot be reused due to the combined printing process.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'I want to see the paper types, is that possible?' %}
                </h6>
                <p>
                  {% trans 'Yes, definitely, request a free' %}
                  <a href="{% url 'sample_kit' %}" class="text-postfly text-decoration-none">{% trans 'sample kit' %}</a>
                  {% trans 'and we will send it to you.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'I have no idea how to make a print ready file, can POSTFLY make one for me?' %}
                </h6>
                <p>
                  {% trans 'Yes you can, feel free to' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us for more information.' %}
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h5>{% trans 'Payment' %}</h5>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>
                  {% trans 'What payment options do you have?' %}
                </h6>
                <p>
                  {% trans 'You place your order online and pay with your credit card.' %}
                  {% trans 'If you do not have a credit card, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us and we can look for a suitable solution.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Where can I find my invoice?' %}
                </h6>
                <p>
                  {% trans 'The invoice will be emailed to you after we have received the payment.' %}
                  {% trans 'This will be done to the email address you provided.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Can I pay afterwards?' %}
                </h6>
                <p>
                  {% trans 'No, you order online and pay with a credit card.' %}
                  {% trans 'If you do not have a credit card, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us and we can look for a suitable solution.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'I have received a reminder, an exhortation or a summation for an invoice, what about that?' %}
                </h6>
                <p>
                  {% trans 'If your invoice has not been paid according to our system,' %}
                  {% trans 'you will first receive a reminder from us.' %}
                  {% trans 'If we do not receive a response or payment,' %}
                  {% trans 'a exhortation will follow and then a summons.' %}
                  {% trans 'If you feel it is not right, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us right away.' %}
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h5>{% trans 'Delivery' %}</h5>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>
                  {% trans 'What is the delivery time of your products?' %}
                </h6>
                <p>
                  {% trans 'With the' %}
                  <a href="{% url 'products' %}" class="text-postfly text-decoration-none">{% trans 'products' %}</a>
                  {% trans 'you can choose a production time of 3 or 5 business days.' %}
                  {% trans 'If you have hand in your files before 11 a.m. you may count that day as a business day.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'At what time will my order be delivered?' %}
                </h6>
                <p>
                  {% trans 'We use a courier, DHL, PostNL and DPD,' %}
                  {% trans 'depending on the order we take the most suitable shipping option.' %}
                  {% trans 'It is therefore difficult to indicate the time in advance,' %}
                  {% trans 'normally deliveries are made on business days between 8:00 and 18:00.' %}
                  {% trans 'We do have options such as DHL Express, to see if it is suitable for your order,' %}
                  {% trans 'it is best to send us an' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">{% trans 'email' %}</a>.
                </p>
                <h6 class="mt-5">
                  {% trans 'Can I also have my package delivered abroad?' %}
                </h6>
                <p>
                  {% trans 'Yes, there are options, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us to discuss this.' %}
                  {% trans 'The shipping costs and delivery times depend on the country of destination and' %}
                  {% trans 'the weight plays an important role in this.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Can my order also be sent directly, incognito to my customer?' %}
                </h6>
                <p>
                  {% trans 'Yes, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us to arrange it.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Can my order be delivered to multiple addresses?' %}
                </h6>
                <p>
                  {% trans 'Yes that is possible, please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us tso that we know what needs to go where, there is an additional cost.' %}
                </p>
                <h6 class="mt-5">
                  {% trans 'Do you also have the option of express delivery?' %}
                </h6>
                <p>
                  {% trans 'Sometimes that is indeed possible, but unfortunately not always.' %}
                  {% trans 'Please' %}
                  <a href="{% url 'contact' %}" class="text-postfly text-decoration-none">contact</a>
                  {% trans 'us to discuss the possibilities.' %}
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                <h5>{% trans 'Paper types' %}</h5>
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>300 gr mat</h6>
                <p>
                  {% trans 'A paper with a matte appearance.' %}
                  {% trans 'Very suitable type of paper for photos,' %}
                  {% trans 'for example, because of the smooth structure.' %}
                  {% trans 'This paper is not suitable for stamping.' %}
                </p>
                <h6 class="mt-5">300 gr ECO</h6>
                <p>
                  {% trans 'FSC certified, paper with an ecologically conscious appearance.' %}
                  {% trans 'This paper is suitable for stamping.' %}
                </p>
                <h6 class="mt-5">170 gr ECO</h6>
                <p>
                  {% trans 'FSC certified - light uncoated paper, paper with an ecological,' %}
                  {% trans 'environmentally conscious appearance.' %}
                  {% trans 'This paper is suitable for stamping.' %}
                </p>
                <h6 class="mt-5">135 gr Gloss</h6>
                <p>
                  {% trans 'Glossy white paper MC satin - light, flexible paper.' %}
                </p>
                <h6 class="mt-5">115 gr Blueback</h6>
                <p>
                  {% trans 'Due to the blue back, the poster is not translucent and can easily be pasted over something.'%}
                  {% trans 'Ideal for outdoor promotions.' %}
                </p>
                <h6 class="mt-5">400 gr Mat</h6>
                <p>
                  {% trans 'MC matte - top quality paper - very firm cardboard feel.' %}
                </p>
                <h6 class="mt-5">Cold Foil</h6>
                <p>
                  {% trans 'Sturdy 350 gr sulphate cardboard + finished on both sides' %}
                  {% trans 'with matte dispersion varnish and on one sidd with cold foil,' %}
                  {% trans 'which makes it possible to provide metallic effects.' %}
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                <h5>{% trans 'Glossary' %}</h5>
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <h6>
                  {% trans 'What is resolution?' %}
                </h6>
                <p>
                  {% trans 'Resolution equals the quality of the image.' %}
                  {% trans 'Resolution is expressed in dpi (dots per inch).' %}
                  {% trans 'The higher the number of “dots” per inch,' %}
                  {% trans 'the sharper and higher the quality of the image.' %}
                  {% trans 'In order to be able to deliver a good quality of printed matter,' %}
                  {% trans 'we need a file with a resolution of 300 dpi.' %}
                  {% trans 'If the resolution is too low,' %}
                  {% trans 'you will get a blurry or jagged (block effect) result.' %}
                </p>
                <p>
                  {% trans 'For more information on resolution,' %}
                  {% trans 'see "Files" in the menu bar and take a look at the topic about' %}
                  <a href="{% url 'resolution' %}" class="text-postfly text-decoration-none">{% trans 'resolution' %}</a>.
                </p>
                <h6 class="mt-5">
                  {% trans 'What is bleed?' %}
                </h6>
                <p>
                  {% trans 'Bleed is 3 mm extra that you have to provide on all four sides' %}
                  {% trans 'of a file to avoid a white edge when cutting.' %}
                </p>
                <p>
                  {% trans 'For more information on bleed, see "Files"' %}
                  {% trans 'in the menu bar and take a look at the topic about' %}
                  <a href="{% url 'bleed' %}" class="text-postfly text-decoration-none">{% trans 'bleed' %}</a>.
                </p>
                <h6 class="mt-5">
                  {% trans 'What is CMYK?' %}
                </h6>
                <p>
                  {% trans 'CMYK stands for the 4 printing colors cyan (C), magenta (M),' %}
                  {% trans 'yellow (Y) and black (key) (K).' %}
                </p>
                <p>
                  {% trans 'For more information on CMYK, see "Files"' %}
                  {% trans 'in the menu bar and take a look at the topic about' %}
                  <a href="{% url 'color' %}" class="text-postfly text-decoration-none">{% trans 'color' %}</a>.
                </p>
                <h6 class="mt-5">
                  {% trans 'What is ink coverage?' %}
                </h6>
                <p>
                  {% trans 'Paper can only absorb a maximum percentage of ink.' %}
                  {% trans 'The maximum ink coverage is 300%.' %}
                </p>
                <p>
                  {% trans 'For more information on ink coverage, see "Files"' %}
                  {% trans 'in the menu bar and take a look at the topic about' %}
                  <a href="{% url 'ink_coverage' %}" class="text-postfly text-decoration-none">{% trans 'ink coverage'%}</a>.
                </p>
                <h6 class="mt-5">
                  {% trans 'What is combined printing?' %}
                </h6>
                <p>
                  {% trans 'POSTFLY combines different print jobs from different customers.' %}
                  {% trans 'This way you as a customer can enjoy shared costs.' %}
                  {% trans 'That is why we work with fixed types of paper and quantities.' %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 faq-img"></div>
{% endblock %}