{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
  <div>
    <h2 class="my-5 mx-5 text-center">{% trans 'Making a print ready file with foil' %}</h2>
  </div>
  <div class="p-5 mb-5 foil-img"></div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-5">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'What is Inline Cold Foil?' %}</h6>
        <p class="px-4 px-md-0 mt-3">
          {% trans 'Cold foil makes it possible to provide the printing sheets with metallic effects' %}
          {% trans 'in a single printing run by means of real foil as a spot – so locally – applied.' %}
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-4 mt-lg-4 ml">
      <img src="{% static 'img/home/foil/foil_sample.png' %}" alt="Foil sample" class="w-400 ms-2">
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-3">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'How does Inline Cold Foil work?' %}</h6>
        <p class="px-4 px-md-0">
          {% trans 'The adhesive layer is applied to the first printing tower.' %}
          {% trans 'Using a standard printing plate,' %}
          {% trans 'the adhesive layer is printed on the paper exactly where the foil should go.' %}
          {% trans 'At the second printing tower, the printing sheet is pressed against the foil.' %}
          {% trans 'The foil attaches itself sharply and 100% permanently to the adhesive layer.' %}
          {% trans 'The contactless sheet transport with aerodynamic air tracks guarantees a scratch' %}
          {% trans 'and blemish-free print production.' %}
          {% trans 'Due to the very accurate fit,' %}
          {% trans 'the data for the foil can be formatted as data for an additional PMS color.' %}
          {% trans 'The CMYK color printing starts from the third printing tower.' %}
          {% trans 'The entire sheet can now be printed in full color: both the unprinted and the metallized part.' %}
          {% trans 'A dispersion varnish is applied as a protective layer.' %}
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-4 mt-lg-4 ml">
      <img src="{% static 'img/home/foil/foil_process.png' %}" alt="Foil process" class="w-400 ms-2">
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-5">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'How do I make a print ready file for Inline Cold Foil?' %}</h6>
        <p class="px-4 px-md-0">
          {% trans 'We have made a handy document “how to cold foil” that you can download below or request by email.' %}
          <br>
          {% trans 'The basic delivery is a high-resolution PDF format in 4 colors + a 5th color (for the foil)' %}
          {% trans 'and with the necessary bleed.' %}
        </p>
        <a href="{% static 'img/home/foil/how_to_cold_foil.zip' %}"
          class="text-postfly text-decoration-none px-4 px-md-0">
          How to cold foil <i class="fas fa-cloud-download-alt"></i></a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10 mt-3">
        <h6 class="px-4 px-md-0 lh-lg">{% trans 'Inline Cold Foil and combined printing' %}</h6>
        <p class="px-4 px-md-0">
          {% trans 'We also offer the cold foil through combined printing,' %}
          {% trans 'which gives you the opportunity to have your creations printed with this technique.' %}
          {% trans '500 business cards? 500 invitations? 1000 A5 cards?' %}
          {% trans 'A small edition, with a beautiful printing technique, for a competitive price, that’s possible,' %}
          {% trans 'you will find the options on our' %}
          <a href="{% url 'products' %}" class="text-postfly text-decoration-none">{% trans 'products' %}</a>
          {% trans 'page.' %}
        </p>
        <p class="px-4 px-md-0">
          {% trans 'All items are printed 5*/4 (* one side with ‘inline cold foil’) +' %}
          {% trans 'finished on both sides with matte dispersion varnish.' %}
          {% trans 'The paper is standard a high-quality, sturdy 350 gr sulphate cardboard,' %}
          {% trans 'excellent for high-quality businesscards, invitations, cards, etc.' %} <br>
          {% trans 'By collecting these assignments on one high-quality paper on large format 70x100 cm sheets,' %}
          {% trans 'everyone enjoys a competitive price.' %}
          {% trans 'After all, the start-up costs and the printing plate costs are shared by everyone.' %}
          {% trans 'The print run per item ordered is 500 copies as standard' %}
          {% trans '(with the option of extra per 500 copies up to a total print run of 3000 copies).' %}
          {% trans 'Ordered items are delivered trimmed to the size indicated.' %}
        </p>
        <p class="px-4 px-md-0">
          {% trans 'These assignments are collected weekly and combined printed and finished.' %}
          {% trans 'Delivery time is therefore a maximum of 9 business days.' %}
          {% trans 'Of course you can always request a' %}
          <a href="{% url 'quotation' %}" class="text-postfly text-decoration-none">{% trans 'quotation' %}</a>
          {% trans 'if your wishes deviate from this.' %}
          {% trans 'At that time, your order will be printed completely individually and a short' %}
          {% trans 'delivery period is possible in consultation.' %}
        </p>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3 mt-md-4 mt-lg-4 ml mb-10">
      <img src="{% static 'img/home/foil/foil_fan.png' %}" alt="Foil fan" class="w-400 ms-2 mb-10">
    </div>
  </div>
{% endblock %}