{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">{% trans 'Outlines' %}</h2>
  </div>
  <div class="p-5 mb-5 outlines-img"></div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <p class="px-4 px-md-0">
          {% trans 'Fonts make the design.' %}
          {% trans 'There is a wide choice of different types, but unfortunately' %}
          {% trans 'not everyone has the same fonts available.' %}<br>
          {% trans 'It is therefore advisable to convert the fonts into outlines in your design.' %}
          {% trans 'This way you avoid error messages on missing fonts and you can be sure' %}
          {% trans 'that they are always displayed correctly.' %}
        </p>
        <h6 class="px-4 px-md-0">{% trans 'How do you convert texts into outlines?' %}</h6>
        <p class="px-4 px-md-0">
          {% trans 'Open your design in InDesign or Illustrator (2021).' %}
          {% trans 'Select the texts and click on Type → Create Outlines in the menu bar at the top.' %}
        </p>
        <p class="px-4 px-md-0">
          {% trans 'In the texts below, you will see the letters selected separately' %}
          {% trans 'for the text that has been converted to outlines.' %}
          {% trans 'Here you can no longer edit the text.' %}
          {% trans 'This is still possible with the text without outlines.' %}
        </p>
      </div>
    </div>
    <div class="col-12 d-lg-none mb-10">
      <img src="{% static 'img/home/outlines/outlines_1.png' %}" alt="Outlines example" class="w-300 ms-4 mb-10">
      <img src="{% static 'img/home/outlines/outlines_2.png' %}" alt="Outlines InDesign" class="w-300 ms-4 mb-10">
    </div>
    <div class="d-lg-flex align-items-center mt-3 mt-md-4 mt-lg-4 ml d-none mb-10">
      <img src="{% static 'img/home/outlines/outlines_1.png' %}" alt="Outlines example" class="w-300 ms-3 mb-10">
      <img src="{% static 'img/home/outlines/outlines_2.png' %}" alt="Outlines InDesign" class="w-300 ml-mr mb-10">
    </div>
  </div>
{% endblock %}