{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
  <div class="sample-parallax"></div>
    <div class="parallax-text">
      <h2 class="my-5 text-center">Request your free sample kit here</h2>
      <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-xl-6 mt-4">
          <form action="">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Your details</label>
              <input type="text" class="form-control mb-4" id="first_name" placeholder="First Name*">
              <input type="text" class="form-control mb-4" id="last_name" placeholder="Last Name*">
              <input type="email" class="form-control mb-4" id="email" placeholder="Email address*">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Delivery address</label>
              <input type="text" class="form-control mb-4" id="company_name" placeholder="Company Name">
              <input type="text" class="form-control mb-4" id="address" placeholder="Street address + house number*">
              <input type="text" class="form-control mb-4" id="postcode" placeholder="Postal code*">
              <input type="text" class="form-control mb-4" id="city" placeholder="City or Town*">
              <input type="text" class="form-control mb-4" id="country" placeholder="Country*">
              <input type="text" class="form-control mb-4" id="phone" placeholder="Phone number">
              <label id="checkbox" class="no-robot-checkbox mt-3">
                <input type="checkbox" required="" aria-required="true" />
                <span>I'm not a robot!</span>
              </label>
            </div>
            <button type="submit" class="btn postfly-general-btn mx-5 mt-3 mb-3">Send</button>
          </form>
        </div>
      </div>
    </div>
  <div class="sample-parallax"></div>
{% endblock %}