{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">Specifications</h2>
  </div>
  <div class="p-5 mb-5 specs-img"></div>
{% endblock %}

{% block content %}
  <div class="container mb-10">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <p class="px-4 px-md-0">
          It is import that you send your digital files according to our specifications,
          we ensure the correct processing of your file, but errors in the layout or in the digital files do not entitle you to a free reprint.
        </p>
        <p class="px-4 px-md-0 lh-lg">
          When formatting your files, you have to take a number of things into account.
          Check your design using the checklist below:
          <ul class="list-unstyled ms-4 ms-md-0">
            <li><i class="fas fa-check-square text-postfly"></i> Resolution: 300 dpi</li>
            <li><i class="fas fa-check-square text-postfly"></i> Color setting: CMYK, 300% maximum ink coverage and no overprint</li>
            <li><i class="fas fa-check-square text-postfly"></i> Bleed: 3 mm all around, meaning on all sides</li>
            <li><i class="fas fa-check-square text-postfly"></i> File type: PDF or JPG</li>
          </ul>
        </p>
        <p class="px-4 px-md-0">
          You can also download a <a href="{% url 'templates' %}" class="text-postfly text-decoration-none">template</a> as a guideline to start with your design, but make sure that our template is not in the final print file.
          Because you obviously don’t want that template printed!
        </p>
        <p>
          <h6 class="px-4 px-md-0 lh-lg">Hints:</h6>
          <ul class="list-unstyled ms-4 ms-md-0">
            <li><i class="fas fa-circle fa-xs text-postfly"></i> Make sure the photos and images go till the edge</li>
            <li><i class="fas fa-circle fa-xs text-postfly"></i> Do not place thin frames against the cutting edge</li>
            <li><i class="fas fa-circle fa-xs text-postfly"></i> Place your texts at least 3 mm from the cutting edge</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
{% endblock %}