{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">Templates</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mt-5">
        <p class="px-4 px-md-0">
          On this page you can download our templates for the most common formats, 
          so you have a little more clarity about the required margins. 
          Make sure that when you deliver the print file to us, our template is no longer in it, 
          because it is not the intention to print this along with the design.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 mt-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h6 class="ms-2">Flyers</h6>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href="{% static 'img/home/templates/template_a4.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A4</a> <br>
                <a href="{% static 'img/home/templates/template_a5.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A5</a> <br>
                <a href="{% static 'img/home/templates/template_a6.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A6</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h6 class="ms-2">Posters</h6>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href="{% static 'img/home/templates/template_a0.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A0</a> <br>
                <a href="{% static 'img/home/templates/template_a1.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A1</a> <br>
                <a href="{% static 'img/home/templates/template_a2.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">A2</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h6 class="ms-2">Business cards</h6>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href="{% static 'img/home/templates/template_85x55.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">85x55 mm</a> <br>
                <a href="{% static 'img/home/templates/template_170x55.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">170x55 mm</a> <br>
                <a href="{% static 'img/home/templates/template_110x85.zip' %}" class="text-postfly text-decoration-none px-4 px-md-0">110x85 mm</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 py-4 d-lg-none">
          <img src="{% static 'img/home/templates/templates.png' %}" alt="Paper sizes" class="w-400 mx-auto d-block mb-10">
        </div>
      </div>
      <div class="col-12 col-xl-6 mt-5 d-none d-lg-block">
        <img src="{% static 'img/home/templates/templates.png' %}" alt="Paper sizes" class="w-400 mx-auto d-block">
      </div>
    </div>
  </div>
{% endblock %}