# Exclude Django created local def folders
*.sqlite3
*.pyc
__pycache__

# Exclude VScode created def folders
.vscode
env
env.py
venv
.venv/

# Ignore other unwanted files and directories
staticfiles_build/