{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <h2 class="mt-5">{{ user }}'s profile</h2>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-6 mt-4">
        <p class="fw-bold">Default profile details</p>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form" class="profile-form mt-3">
          {% csrf_token %}
          {{ form|crispy }}
          <a href="{% url 'dashboard' %}" class="btn hvr-grow postfly-general-btn me-3 my-5">
            <span class="font-weight-bold">Dashboard</span>
          </a>
          <button class="btn hvr-grow postfly-general-btn ms-3 my-5">
            <span class="font-weight-bold">Update changes</span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}