{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
  {% if from_profile %}
    <div class="container">
      <div class="row">
          <div class="col text-center">
            <h2 class="mt-5">Order details</h2>
          </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row">
          <div class="col text-center">
            <h2 class="mt-5">Thank you for your order!</h2>
          </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="order-confirmation-wrapper p-3 border">
          {% if from_profile %}
            <div class="order-confirmation-heading-wrapper">
              <h3 class="text-center">Order {{ order.order_number }} ordered on {{ order.date }}</h3>
            </div>
          {% else %}
            <div class="order-confirmation-heading-wrapper">
              <h3 class="text-center">Order confirmation</h3>
            </div> 
          {% endif %}
          {% if not from_profile %}
          <!-- Order info -->
            <div class="row">
              <h6 class="fw-bold mt-3">Order info</h6>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Order number:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ order.order_number }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Order date:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ order.date }}</p>
              </div>
            </div>
          {% endif %}
          <!-- Order info end -->

          <!-- Order details -->
          <div class="row">
            <h6 class="fw-bold mt-3">Order details</h6>
          </div>
          {% for item in order.lineitems.all %}
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0 text-postfly fw-bold">Product & paper type:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0 text-postfly fw-bold">{{ item.product.name }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Size:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ item.product.size }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Printing method:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ item.product.method }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Quantity:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ item.product.quantity }} pieces</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Delivery time:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ item.product.delivery_time }} business days</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Product price:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-3">€{{ item.product.price }}</p>
              </div>
            </div>
          {% endfor %}
          <!-- Order details end -->

          <!-- Delivery info -->
          <div class="row">
            <h6 class="fw-bold">Delivery details</h6>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Full name:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.first_name }} {{ order.last_name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Company name:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.company_name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Street address + house number:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.street_address1 }}</p>
            </div>
          </div>
          {% if order.street_address2 %}
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Additional address information:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ order.street_address2 }}</p>
              </div>
            </div>
          {% endif %}
          {% if order.postcode %}
            <div class="row">
              <div class="col-12 col-md-4">
                <p class="mb-0">Postal code:</p>
              </div>
              <div class="col-12 col-md-8 text-md-end">
                <p class="mb-0">{{ order.postcode }}</p>
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Town or city:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.town_or_city }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Country:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.country }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Phone number:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">{{ order.phone_number }}</p>
            </div>
          </div>
          <!-- Delivery info end -->

          <!-- Price details -->
          <div class="row">
            <h6 class="fw-bold mt-3">Price details</h6>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">Order total:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">€{{ order.order_total }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0">VAT:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-0">€{{ order.tax }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="mb-0 mb-md-3 fw-bold">Grand total:</p>
            </div>
            <div class="col-12 col-md-8 text-md-end">
              <p class="mb-3 fw-bold">€{{ order.grand_total }}</p>
            </div>
          </div>
          <!-- Price details -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 mt-5 mb-10">
        {% if from_profile %}                    
          <a href="{% url 'dashboard' %}" class="btn postfly-general-btn me-3 mb-3">
            <span class="font-weight-bold">Back to dashboard</span>
          </a>
        {% else %}
          <a href="{% url 'products' %}" class="btn postfly-general-btn me-3 mb-3">
            <span class="font-weight-bold">Products</span>
          </a>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}