<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-size: 1rem; color:#000;font-family: poppins;
	background-color: #f2f2f2;
	border: 1px solid #707070;
  border-radius: 25px;
	padding: 1rem; height: auto; width: 50%;">
	<!-- Hello line -->
	<p>Hi
		<span style="color: #E72F4C;">
			<strong>POSTFLY</strong>
		</span>,
	</p>
	<!-- Message body -->
	<div>
		<p>
			Please make a quotation for:<br>
			<i>
				<span><strong>{{ message }}</strong></span><br> <br>
			</i>
			The quotaion can be addressed to:<br>
			<i>
				{% if company_name %}
					<span><strong>{{ company_name }}</strong></span><br>
				{% endif %}
				<span><strong>{{ street_address1 }}</strong></span><br>
				{% if street_address2 %}
					<span><strong>{{ street_address2 }}</strong></span><br>
				{% endif %}
				<span><strong>{{ postcode}} {{ town_or_city }}</strong></span><br>
				<span><strong>{{ country }}</strong></span><br> <br>
			</i>
			When you have questions you can reach me at phone number:<br>
			<i>
				<span><strong>{{ phone_number }}</strong></span><br> <br>
			</i>
		</p>
	</div>
	<!-- Signature -->
	<p>With kind Regards,<br>
		<span><strong>{{ first_name|title }} {{ last_name|title }}</strong></span>
	</p>
</body>

</html>