<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-size: 1rem; color:#000;font-family: poppins;">
	<!-- Hello line -->
	<p>Hi
		<span style="color: #E72F4C;">
			<strong>POSTFLY</strong>
		</span>,
	</p>
	<!-- Message body -->
	<div style="background-color: #f2f2f2;
    border: 1px solid #cbcbcb;
    border-radius: 25px;
    padding: 1rem; height: auto; width: 50%;">
		<p style="color: #535353; font-weight: 400;">
			Please make a quotaion for:<br>
			<i>
				{{ message }} <br> <br>
			</i>
			The quotaion can be addressed to:<br>
			<i>
				{% if order.company_name %}
					{{ company_name }}<br>
				{% endif %}
				{{ street_address1 }}<br>
				{{ street_address2 }}<br>
				{{ postcode}} {{ town_or_city }}<br>
				{{ country }} <br> <br>
			</i>
			When you have questions you can reach me at phone number:<br>
			<i>
				{{ phone_number }}<br><br>
			</i>
		</p>
	</div>
	<!-- Signature -->
	<p>With kind Regards,<br>
		{{ first_name|title }} {{ last_name|title }}
	</p>
</body>

</html>