{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-size: 1rem; color:#000;font-family: poppins;
  background-color: #f2f2f2;
  border: 1px solid #707070;
  border-radius: 25px;
  padding: 1rem; height: auto;">
  <!-- Header line -->
  <p>Hi
    <span style="color: #E02A51;">
      <strong>POSTFLY</strong>
    </span>,
  </p>
  <!-- Header line end -->
  <!-- Message body -->
  <div>
    <p>
      {% trans 'Please send my sample kit to the following addres' %}: <br>
      <i>
        {% if company_name %}
          <span><strong>{{ company_name }}</strong></span><br>
        {% endif %}
        <span><strong>{{ street_address1 }}</strong></span><br>
        {% if street_address2 %}
          <span><strong>{{ street_address2 }}</strong></span><br>
        {% endif %}
        <span><strong>{{ postcode}} {{ town_or_city }}</strong></span><br>
        <span><strong>{{ country }}</strong></span><br> <br>
      </i>
      {% if phone_number %}
        {% trans 'When you have questions you can reach me at phone number' %}:<br>
        <i>
          <span><strong>{{ phone_number }}</strong></span>
        </i>
      {% endif %}
    </p>
  </div>
  <!-- Message body end -->
  <!-- Signature -->
  <p>{% trans 'With kind regards' %},<br>
    <span><strong>{{ first_name|title }} {{ last_name|title }}</strong></span>
  </p>
  <!-- Signature end -->
</body>

</html>