{% load static %}

<!-- Footer -->
<footer class="fixed-bottom">
  <div class="container-fluid footer-container mt-3 px-5 bg-grey">
    <div class="row text-center text-md-start">
      <div class="col-md-5 col-sm-12">
        <a href="{% url 'home' %}"><img src="{% static 'img/footer_logo.png' %}" class="pp-footer-logo"
            alt="POSTFLY logo"></a>
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mt-md-0">
        <ul class="list-unstyled text-center text-md-start">
          <li class="d-md-inline">
            <i class="fas fa-phone"></i> <span class="footer_icons">+31(0)20 365 22 93</span>
          </li>
          <li class="d-inline">
            <a class="text-black" target="_blank" href="mailto:info@postfly.nl" data-toggle="tooltip"
              data-placement="top" title="info@postfly.nl" rel="noreferrer">
              <i class="fas fa-envelope footer_icons"></i>
              <span class="sr-only">Email</span>
            </a>
          </li>
          <li class="d-inline">
            <a class="text-black" target="_blank" href="https://www.facebook.com/Postfly.nl"><i
                class="fab fa-facebook-square footer_icons"></i></a>
          </li>
          <li class="d-inline">
            <a class="text-black" target="_blank" href="https://www.instagram.com/grafische_groep_matthys/"><i
                class="fab fa-instagram footer_icons"></i></a>
          </li>
          <li class="d-inline">
            <a class="text-black" target="_blank" href="https://www.linkedin.com/company/postfly-nl/mycompany/"><i
                class="fab fa-linkedin footer_icons"></i></a>
          </li>
          <li>
            <span class="footer-copyright">© Copyright 2021 - POSTFLY</span>
          </li>
        </ul>
      </div>
      <button type="button" onclick="goToTop()" class="btn gtt-btn hvr-grow rounded-5" id="goToTopBtn">
        <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
      </button>
    </div>
  </div>
</footer>

{% block postloadjs %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}