{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-xl bg-grey navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="{% url 'home' %}">
      <img class="pp-logo" src="{% static 'img/paper_plane_logo.png' %}" alt="Paper Plane Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-grey">
        <img class="pp-logo" src="{% static 'img/paper_plane_logo.png' %}" alt="Paper Plane Logo">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-grey">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-5 me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-black ms-lg-2 ms-xl-4" href="{% url 'home' %}">
              Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black ms-lg-2 ms-xl-4" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu bg-grey border-0" aria-labelledby="offcanvasNavbarDropdown">
              <li>
                <a href="{% url 'products' %}?category=flyers_300_gr_mat" class="dropdown-item">Flyers 300 gr Mat</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_mat&size=1">A4</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_mat&size=2">A5</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_mat&size=3">A6</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=flyers_300_gr_eco" class="dropdown-item">Flyers 300 gr ECO</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_eco&size=1">A4</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_eco&size=2">A5</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_300_gr_eco&size=3">A6</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=flyers_170_gr_eco" class="dropdown-item">Flyers 170 gr ECO</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_170_gr_eco&size=1">A4</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_170_gr_eco&size=2">A5</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_170_gr_eco&size=3">A6</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=flyers_135_gr_gloss" class="dropdown-item">Flyers 135 gr Gloss</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_135_gr_gloss&size=1">A4</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_135_gr_gloss&size=2">A5</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=flyers_135_gr_gloss&size=3">A6</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=posters_135_gr_gloss" class="dropdown-item">Posters 135 gr Gloss</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_135_gr_gloss&size=4">A0</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_135_gr_gloss&size=5">A1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_135_gr_gloss&size=6">A2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=posters_115_gr_blueback" class="dropdown-item">Posters 115 gr Blueback</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_115_gr_blueback&size=4">A0</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_115_gr_blueback&size=5">A1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=posters_115_gr_blueback&size=6">A2</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=business_cards_400_gr_mat" class="dropdown-item">Business cards 400 gr Mat</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_400_gr_mat&size=7">85x55 mm</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_400_gr_mat&size=8">85x110 mm</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_400_gr_mat&size=9">170x55 mm</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'products' %}?category=business_cards_cold_foil" class="dropdown-item">Business cards Cold Foil</a>
                <ul class="dropdown-menu bg-grey border-0 dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_cold_foil&size=7">85x55 mm</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_cold_foil&size=8">85x110 mm</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=business_cards_cold_foil&size=9">170x55 mm</a>
                  </li>
                </ul>
              </li>
              <li><a href="{% url 'products' %}" class="dropdown-item">All products</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black ms-lg-2 ms-xl-4" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Files
            </a>
            <ul class="dropdown-menu bg-grey border-0" aria-labelledby="offcanvasNavbarDropdown">
              <li><a href="{% url 'specs' %}" class="dropdown-item">Specifications</a></li>
              <li><a href="{% url 'bleed' %}" class="dropdown-item">Bleed</a></li>
              <li><a href="{% url 'file_type' %}" class="dropdown-item">File type</a></li>
              <li><a href="{% url 'deep_black' %}" class="dropdown-item">Deep black</a></li>
              <li><a href="{% url 'ink_coverage' %}" class="dropdown-item">Ink coverage</a></li>
              <li><a href="{% url 'job_options' %}" class="dropdown-item">Job obtions</a></li>
              <li><a href="{% url 'color' %}" class="dropdown-item">Color</a></li>
              <li><a href="{% url 'outlines' %}" class="dropdown-item">Outlines</a></li>
              <li><a href="{% url 'foil' %}" class="dropdown-item">Foil</a></li>
              <li><a href="{% url 'overprint' %}" class="dropdown-item">Overprint</a></li>
              <li><a href="{% url 'resolution' %}" class="dropdown-item">Resolution</a></li>
              <li><a href="{% url 'templates' %}" class="dropdown-item">Templates</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black ms-lg-2 ms-xl-4" href="{% url 'faq' %}"">
              FAQ
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black ms-lg-2 ms-xl-4" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About us
            </a>
              <ul class="dropdown-menu bg-grey border-0" aria-labelledby="offcanvasNavbarDropdown"down">
                <li><a href="{% url 'team' %}" class="dropdown-item">Team</a></li>
                <li><a href="{% url 'printing_house' %}" class="dropdown-item">Printing in-house</a></li>
                <li><a href="{% url 'our_concept' %}" class="dropdown-item">Our concept</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black ms-lg-2 ms-xl-4" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
              <ul class="dropdown-menu bg-grey border-0" aria-labelledby="offcanvasNavbarDropdown">  
                <li><a href="{% url 'contact' %}" class="dropdown-item">Contact us</a></li>
                <li><a href="{% url 'sample_kit' %}" class="dropdown-item">Free sample kit</a></li>
                <li><a href="{% url 'quotation' %}" class="dropdown-item">Quotation request</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black ms-lg-2 ms-xl-4" href="{% url 'account_signup' %}">
                  <i class="fas fa-user"></i> Register
            </a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black ms-lg-2 ms-xl-4" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-lock"></i> Account
              </a>
              <ul class="dropdown-menu bg-grey border-0" aria-labelledby="offcanvasNavbarDropdown">
                <li><a href="#" class="dropdown-item">Dashboard</a></li>
                <li><a href="#" class="dropdown-item">Profile</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Log out</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-black ms-lg-2 ms-xl-4" href="{% url 'account_login' %}">
                <i class="fas fa-user-lock"></i> Log in
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="{% if grand_total %}fw-bold text-danger{% else %}text-black{% endif %} nav-link ms-lg-2 ms-xl-5" href="{% url 'view_cart' %}">
              <div>
                <i class="fas fa-shopping-cart"></i>
                  {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                  {% else %}
                    €0.00
                  {% endif %}
              </div>
            </a>
          </li>
        </ul>
        <div class=" my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control border-black rounded-0" type="search" name="q" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="form-control btn btn-white border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</nav>




  
  