{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
	<div class="account-parallax"></div>
		<div class="account-text">
			<h2 class="mt-5 text-center">{% trans "Forgot your password? <br> Reset your password" %}</h2>
			<div class="row banner justify-content-center">
				<div class="col-10 col-md-6 col-xl-4 mt-4">
					{% if user.is_authenticated %}
					{% include "account/snippets/already_logged_in.html" %}
					{% endif %}

					<p class="fw-bold ms-2">{% trans "Fill out your email address below and we will send you an email to reset your password." %}</p>

					<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset justify-content-center">
							{% csrf_token %}
							{{ form|crispy }}
							<a class="btn hvr-grow postfly-general-btn me-3 my-3" href="{% url 'account_login' %}">{% trans "Back to login!" %}</a>
							<input class="btn hvr-grow postfly-general-btn me-3 my-3" type="submit" value="{% trans 'Reset password!' %}" />
					</form>

					<p class="mt-4 ms-2 text-muted fw-bold">
						{% trans "Please" %} 
            <a class="button secondaryAction text-postfly text-decoration-none" href="{% url 'contact' %}">contact</a>
						{% trans "us if you are experiencing problems resetting your password." %}
          </p>
				</div>
			</div>
		</div>
	<div class="account-parallax"></div>
{% endblock %}
