{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <div>
    <h2 class="my-5 text-center">{% trans 'Whoops! A 404 error occurred' %}.</h2>
    <h5 class="my-2 mx-2 text-center">{% trans 'The page you are looking for could not be found!'%}</h5>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <img src="{% static 'img/errors/404.png' %}" alt="404" class="mx-auto d-block w-400">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 mb-10">
        <div class="py-2">
          <p>
            {% trans 'Please go back to the homepage of'%}
            <a href="{% url 'home' %}" class="btn btn-lg postfly-general-btn text-uppercase hvr-grow mt-2 mt-md-0 ms-2">
              POSTFLY
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}