{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
  <div class="quotation-parallax"></div>
  <div class="quotation-text">
    <h2 class="mt-5 mb-3 text-center mx-3">{% trans 'Special wishes, request your quotation here!' %}</h2>
    <div class="row banner justify-content-center">
      <div class="col-10 col-md-8 col-xl-6 mt-4">
        <form method="POST" id="quotation-form">
          {% csrf_token %}
          <fieldset class="rounded mb-2">
            <legend class="fieldset-label small text-black px-2 w-auto"><strong>{% trans 'Your details' %}</strong></legend>
            {{ quotation_form.first_name | as_crispy_field }}
            {{ quotation_form.last_name | as_crispy_field }}
            {{ quotation_form.email | as_crispy_field }}
          </fieldset>
          <fieldset class="rounded mb-2 mt-4">
            <legend class="fieldset-label small text-black px-2 w-auto"><strong>{% trans 'Other info' %}</strong></legend>
            {{ quotation_form.company_name | as_crispy_field }}
            {{ quotation_form.street_address1 | as_crispy_field }}
            {{ quotation_form.street_address2 | as_crispy_field }}
            {{ quotation_form.postcode | as_crispy_field }}
            {{ quotation_form.town_or_city | as_crispy_field }}
            {{ quotation_form.country | as_crispy_field }}
            {{ quotation_form.phone_number | as_crispy_field }}
          </fieldset>
          <fieldset class="rounded mb-2 mt-4">
            <legend class="fieldset-label small text-black px-2 w-auto"><strong>{% trans 'Quotation request' %}</strong></legend>
            {{ quotation_form.message | as_crispy_field }}
          </fieldset>
          <button type="submit" class="btn postfly-general-btn hvr-grow mx-1 mt-3 mb-3">{% trans 'Send' %}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="quotation-parallax"></div>
{% endblock %}